{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-image.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Iobi Rendar</h1>
            <span class="subheading">Hello, my name is Cong. I am a student and I had a dream I want to be a designer / Front end Developer </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3>About me</h3><br>
        <p>
          I have a passion for software, I always try to learn and face new challenges, new opportunities,
          and experience in various working environment.<br><br>
          The programing language I most frequently use is <span style="color:#0085a1">Python</span>. I am also very comfortable with
          version control systems such as <span style="color:#0085a1">GIT</span>.<br><br>
          Quickly learn and master new technologies, able to effectively communicate with a wide range
          of clients and coworkers.<br><br>
          I also use <span style="color:#0085a1">HTML CSS</span> regularly to build my projects. I hope I can master all programming languages.

        </p>


      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}